{% extends 'base.html.twig' %}

{% block title %} / {{ titre }}{% endblock %}

{% block titre %}{{ titre }}{% endblock %}
{% block body %}
<div class="container-fluid">
    {% for animal in animaux %}
        <div class="row align-items-center m-2 p-2">
            <div class="col-2 text-center">
                <img src="{{ asset('img/animaux/' ~ animal.name|lower ~'.png')}}" alt="{{ animal.name }}">
            </div>
            <div class="col-2 text-center">
                <h1><a href="{{path('get_animal',{'id':animal.id})}}">{{animal.name}}</a></h1>
                <p class="text-center">Description : {{animal.description}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
