{% extends 'base.html.twig' %}

{% block title %}
	/
	{{ titre }}
{% endblock %}

{% block titre %}
	{{ titre }}
{% endblock %}
{% block body %}
	<div class="container-fluid">
		{% for animal in animaux %}
			<div class="row align-items-center m-2 p-2">
				<div class="col-2 text-center">
					<img src="{{ asset('img/animaux/' ~ animal.name|lower ~'.png')}}" alt="{{ animal.name }}">
				</div>
				<div class="col-3 text-center">
					<h1>
						<a href="{{path('get_animal',{'id':animal.id})}}">{{animal.name}}</a>
					</h1>
					<p class="text-center">Description :
						{{animal.description}}</p>
					<p>
						<a href="{{path('get_famille',{'id':animal.famille.id})}}" class="btn btn-primary rounded">{{animal.famille.libelle}}</a>
					</p>
					{% for continent in animal.continents %}
						<a href="{{path('get_continent',{'id':continent.id})}}" class="badge badge-warning rounded p-2">{{ continent.libelle }}</a>
					{% endfor %}
				<div>
					{% for dispose in animal.disposes %}
						<a href="#" class="badge badge-success p-2 my-2 rounded">{{dispose.personne.name}}</a>
					{% endfor %}
				</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
